main{
    display: flex;
    text-align: center;
    justify-content: space-between;
    max-width: 500px;
    margin: auto;
}

img{
    border: 1px solid black;
    display: none;
    width: 200px;
}

.card{
    padding: 20px;
}

.dices{
    min-height: 500px;

}

.visible{
    display: block;
}

.current-player{
    border: solid 1px red;
}